<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>API QuakePaser</title>
  </head>
  <body>
    <h1>API QuakePaser</h1>

    <form action="/data" method="post">
      <label for="id">Object ID:</label>
      <input type="text" id="id" name="id">
      <input type="submit" value="Submit">
    </form>
    <p>Informe o ID da partida para visualizar mais informações.</p>
  </body>
</html>